{% extends 'base.html.twig' %}
{% block title %}the movie db{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock stylesheets %}
{% block body %}
<div class="container">
    <header>
        <h1>A propos de We Movies</h1>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Recherchez des films..." />
            <button id="searchButton">🔍</button>
            <ul id="searchResults" class="search-results"></ul>
        </div>
    </header>

    <section class="featured">
        <div id="video-container" class="video-container">

        </div>
    </section>

    <section class="filters">
        <h3>Genres</h3>
        <ul id="genre-list">
        </ul>
    </section>

    <section class="movie-list">
        <div id="moviesContainer" class="movies-container"></div>
    </section>
</div>
<div id="movieModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-movie">
            <div id="modalMovie"></div>
            <div class="modal-movie-details">
                <h2 id="modalMovieTitle"></h2>
                <p id="modalMovieOverview"></p>
                <p><strong>Note : </strong><span id="modalMovieRating" style="background: #0a0a0a;color: yellow;padding: 0px 7px 0;"></span><span id="modalMovieRatingSuite"></span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}